# Configuration file for concentrator CS-DI-IOC-01.

# This file is executed by the concentrator on startup, so adding
# undocumented lines is perilous!

# Regular expression matching BPMs in BPM_list_file
BPM_pattern = 'SR..[CS]-DI-EBPM-..'
# Range of BPM ids to be included in machine description
BPM_id_range = range(1, 181)    # 1..180 inclusive


# List of supported attenuator settings.  Each entry is a pair of values:
# attenuation in dB and the nominal current at that attenuation.
ATTENUATOR_LIST = (
    (22, 10),
    (35, 60),
    (46, 125),
    (50, 200),
)

# List of BPMs to be excluded from current measurement.  Recorded as BPM names.
BPMS_no_current = ['SR17C-DI-EBPM-07']


# Default configuration settings for BPM current autoscaling.

# Minimum current (in mA) at which autoscaling will occur.
ISCALE_DCCT_THRESHOLD = 100
# IIR factor
ISCALE_SCALING_K = 0.01
# Update interval in seconds.
ISCALE_TIMER_INTERVAL = 10

# Minimum charge for Trasfer efficiency calculations.
# These are set slightly above the typical background but below charge levels
# seen in LowAlpha operation
LTB_THRESHOLD = 0.04
BTS_THRESHOLD = 0.016
