# Configuration file for concentrator CS-DI-IOC-01.

# This file is executed by the concentrator on startup, so adding
# undocumented lines is perilous!

# List of BPMs and other devices.
BPM_list_file = '/home/ops/diagnostics/config/fa-ids.sr'
# Regular expression matching BPMs in BPM_list_file
BPM_pattern = 'SR..[CS]-DI-EBPM-..'
# Range of BPM ids to be included in machine description
BPM_id_range = range(1, 181)    # 1..180 inclusive

# Detune applied when setting MODE to "Orbit"
ORBIT_DETUNE = -400


# List of supported attenuator settings.  Each entry is a pair of values:
# attenuation in dB and the nominal current at that attenuation.
ATTENUATOR_LIST = (
    (22, 10),
    (35, 60),
    (46, 125),
    (50, 200),
)

# List of BPMs to be excluded from current measurement.  Recorded as BPM names.
BPMS_no_current = [
    'SR%02dC-DI-EBPM-%02d' % (cell, n+1)
    for n in range(7)
    for cell in [16, 17]]


# Default configuration settings for BPM current autoscaling.

# Minimum current (in mA) at which autoscaling will occur.
ISCALE_DCCT_THRESHOLD = 100
# IIR factor
ISCALE_SCALING_K = 0.01
# Update interval in seconds.
ISCALE_TIMER_INTERVAL = 10

# Minimum charge for Trasfer efficiency calculations.
# These are set slightly above the typical background but below charge levels
# seen in LowAlpha operation
LTB_THRESHOLD = 0.04
BTS_THRESHOLD = 0.016

# Default limit on BCD control, in microns
BCD_LIMIT = 20
# Slewing update rate, in seconds
BCD_SLEW_INTERVAL = 0.2
# Default slew rate, in microns per second
BCD_SLEW_RATE = 5

# Information about straight lengths and centres for BCD control.  All lengths
# are in metres, all centres in fractions of total length from downstream to
# upstream -- the default centre is 0.5.
BCD_SHORT_LENGTH = 5.760
BCD_LONG_LENGTH = 8.760
BCD_SPECIAL_LENGTHS = {
    'I02': 5.660,   'J02': 2.9655,
    'I03': 5.660,
    'I10': 8.036,
    'I09': 3.006,   'J09': 3.533,
    'I13': 3.006,   'J13': 3.533,
}
BCD_SPECIAL_CENTRES = {
    'I20': 0.4696,
}
