# Configuration file for concentrator CS-DI-IOC-01.

# This file is executed by the concentrator on startup, so adding
# undocumented lines is perilous!

# Location of the beam current dependency files and the format of the BCD
# file name.
BCD_SourceDir = '/home/ops/diagnostics/bcd'
# This file format will be formatted with a dictionary containing the
# following entries:
#   ma  Configured current in mA
BCD_FileFormat = 'BCD_%(ma)dmA_%(db)ddB_%(xy)c'

# List of supported attenuator settings.  Each entry is a pair of values:
# attenuation in dB and the nominal current at that attenuation.
ATTENUATOR_LIST = (
    (22, 10),
    (35, 60),
    (46, 125),
    (50, 200),
)

# List of BPMs to be excluded from current measurement.  Recorded as
# (cell,index) pairs.
BPMS_no_current = [
    (8, 4),     (6, 7),     (12, 2),    (14, 4),
    (18, 6),    (21, 3),    (21, 2),    (22, 3),
    (22, 6),    (23, 1)] + \
    [(c, n+1) for c in (16, 17) for n in range(7)]


# Default configuration settings for BPM current autoscaling.

# Minimum current (in mA) at which autoscaling will occur.
ISCALE_DCCT_THRESHOLD = 100
# IIR factor
ISCALE_SCALING_K = 0.01
# Update interval in seconds.
ISCALE_TIMER_INTERVAL = 10
